/* Genral css style */
@font-face {
  font-family: Sahel;
  src: url('Sahel.eot');
  src: url('Sahel.eot?#iefix') format('embedded-opentype'),
       url('Sahel.woff2') format('woff2'),
       url('Sahel.woff') format('woff'),
       url('Sahel.ttf') format('truetype');
  font-weight: normal;
}

body {
  height: 100vh;
  font-family: "Sahel" !important;
  font-size: 14px;
}

/* Change a display of login form */
.form-group .label {
  display: flex;
}

.ftco-section {
  padding: 0 !important;
  height: 100%;
  display: flex;
  align-items: center;
}

.login-wrap {
  direction: rtl;
}

.login-submit-button {
  background-color: #fbbe28;
  color: #ffffff;
} 

.errors {
  direction: rtl;
  display: flex;
  color: red;
  background-color: #ffadad;
  padding: 20px 30px;
}

@media only screen and (min-width: 768px) {
  .wrap {
    height: 500px;
  }
}
