{% extends "crm/base.html" %}

{% load crispy_forms_tags %}

{% load static %}

{% block main %}
<div class="col-md-12">
  <!-- general form elements -->
  <div class="card card-primary">
    <div class="card-header">
      <h3 class="card-title mb-0 text-center"></h3>
    </div>
    <div class="card-body">
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
          {% if request.path == '/support-profile/' %}
            <div class="col-6">
              {{ form.username|as_crispy_field }}
            </div>
            <div class="col-6">
              {{ form.email|as_crispy_field }}
            </div>
            <div class="col-6">
              {{ form.first_name|as_crispy_field }}
            </div>
            <div class="col-6">
              {{ form.last_name|as_crispy_field }}
            </div>
            <div class="col-6">
              {{ form.is_manager|as_crispy_field }}
            </div>
            <div class="col-6">
              {{ form.is_customer|as_crispy_field }}
            </div>
          {% elif request.path == '/customer-profile/' %}
            <div class="col-6">
              {{ form.brand_name|as_crispy_field }}
            </div>
            <div class="col-6">
              {{ form.adress|as_crispy_field }}
            </div>
            <div class="col-6">
              {{ form.province|as_crispy_field }}
            </div>
            <div class="col-6">
              {{ form.city|as_crispy_field }}
            </div>
          {% endif %}
        </div>
        <button class="btn btn-success">ویرایش اطلاعات</button>
      </form>
    </div>
</div>
{% endblock %}