{% extends "crm/base.html" %}

{% load static %}
{% load humanize %}

{% block main %}
<div class="content mt-3">
  <div class="animated fadeIn">
    <div class="row">
      <div class="col-md-12">
        <div class="card-header d-flex justify-content-between">
          <strong class="card-title">تعریف پروژه</strong>
          <a href="{% url 'crm:projectCreate' %}">
            <span class="plus_icon">
              &#x2b;
            </span>
          </a>
        </div>
        <div class="card">
          <div class="card-body card-body-scroll">
            <table class="table">
                <thead class="bg-dark text-white">
                  <tr>
                    <tr role="row">
                      <th 
                        class="sorting_asc text-center" 
                        tabindex="0" 
                        aria-controls="bootstrap-data-table-export" 
                        rowspan="1" 
                        colspan="1" 
                        aria-sort="ascending" aria-label="Name: activate to sort column descending" 
                        style="width: auto;">
                        عنوان پروژه
                      </th>
                      <th 
                        class="sorting_asc text-center" 
                        tabindex="0" 
                        aria-controls="bootstrap-data-table-export" 
                        rowspan="1" 
                        colspan="1" 
                        aria-sort="ascending" aria-label="Name: activate to sort column descending" 
                        style="width: auto;">
                        زمان ثبت اولیه پروژه
                      </th>
                      <th 
                        class="sorting_asc text-center" 
                        tabindex="0" 
                        aria-controls="bootstrap-data-table-export" 
                        rowspan="1" 
                        colspan="1" 
                        aria-sort="ascending" aria-label="Name: activate to sort column descending" 
                        style="width: auto;">
                        آر اف پی
                      </th>
                      <th 
                        class="sorting_asc text-center" 
                        tabindex="0" 
                        aria-controls="bootstrap-data-table-export" 
                        rowspan="1" 
                        colspan="1" 
                        aria-sort="ascending" aria-label="Name: activate to sort column descending" 
                        style="width: auto;">
                        ویرایش
                      </th>
                  </tr>
                </thead>
                <tbody>
                  {% for project_list in object_list %}
                    <tr>
                        <td>
                          {{ project_list.project_title }}
                        </td>
                        <td>{{ project_list.jcreate|naturaltime  }}</td>
                        <td>
                          {% if project_list.rfp %}
                            <a href="{{ BASE_DIR }}/media/{{ project_list.rfp }}" class="a_link">
                              <i class="fa fa-download" aria-hidden="true"></i>
                            </a>
                          {% else %}
                            <p>هنوز آر اف پی ای آپلود نکرده اید.</p>
                          {% endif %}
                        </td>
                        <td>
                          <a href="{% url 'crm:projectCreate-stage1' project_list.pk %}" class="a_link">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                          </a>
                        </td>
                      </tr>
                  {% endfor %}
                </tbody>
            </table>
          </div>
        </div>
      </div>


    </div>
  </div><!-- .animated -->
</div>
{% endblock %}